@import "../../util/variables.scss";

.main {
  background-color: $primary-background-color;
  overflow: hidden;
  position: relative;
}

.offers {
  padding: 0 1.5rem;
  padding-bottom: 5rem;

  &__title {
    margin-top: 3rem;
    text-align: center;
  }

  &__list {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}


@media (min-width: 768px) {
  .offers {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &__list {
      flex-direction: row;
      gap: 0.625rem;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media (min-width: 1026px) {
  .offers {
    &__title {
      text-align: left;
      margin-top: 5rem;
    }

    &__list {
      margin-top: 4.5rem;
      gap: 1.875rem;
    }
  }
}